<nav class="navbar bg-body-tertiary">
  <div class="container mt-3">
    <a class="navbar-brand" "text">Inscrit toi !</a>
  </div>
  <div>
    <a type="submit" name="login" class="btn btn-success" "page" href="{{ path('app_login') }}">Connexion</a>
  </div>
  <div>
    <a type="submit" class="btn btn-danger" "page" href="{{ path('app_logout') }}">Deconnexion</a>
  </div>
</nav>